@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Vina+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
/* search input styling */

.search-bar-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar-wrapper input {
    background-color: #6091be64;
    color: rgb(72, 69, 69);
    padding: 12px;
    width: 250px;
    border-radius: 10px 10px;
    border: none;
    font-size: 20px;
    font-family: monospace;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    cursor: text;
}

.search-bar-wrapper input:hover {
    box-shadow: 0 5px 25px rgba(255, 255, 255, 0.653); 
}

.search-bar-wrapper button {
    background: linear-gradient(0deg, rgba(0, 98, 255, 0.817), rgba(132, 183, 245, 0.671));
    border-radius: 8px;
    font-size: 15px;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.search-bar-wrapper button:hover {
    background-color: rgb(33, 122, 231);
}

/* character list/container styling */

.character-list-wrapper  {
    background-image: url(../Assets/ghibli-background.jpg);
    background-size: auto;
    image-rendering: -webkit-optimize-contrast;
}

.character-container {
    padding: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}


  @media screen and (max-width: 450px) {
    .search-bar-wrapper {
    flex-direction: column; /* Stack input and button vertically for smaller screens */
    align-items: center; 
  }

  .search-bar-wrapper input {
    width: 80%; 
  }

  .search-bar-wrapper button {
    width: 60%; 
    margin-top: 10px; 
  }

  .character-container {
    grid-template-columns: 1fr; /* Switch to a single column layout for smaller screens */
  }
  }
