@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Vina+Sans&display=swap');



* {
    box-sizing: border-box;
}

body {
    background-image: url(../Assets/ghibli-background.jpg);
    background-size: auto;
    object-fit: cover;
}

.favourite-main-container {
    background-image: url(../Assets/ghibli-background.jpg);
    background-size: auto;
    image-rendering: -webkit-optimize-contrast;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favourite-main-container h4 {
    font-family: monospace;
    font-size: 20px;
}


.favourite-film-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.favourite-film-card {
    background-image: linear-gradient(to bottom, rgb(51, 121, 162), rgb(145, 163, 173));
    border-radius: 5px;
    padding: 20px;
    width: 450px;
    text-align: center;
    opacity: 0.8;
    color: rgb(0, 0, 0);
}


.favourite-film-card img {
    width: 80%;
    height: 50%;
    border-radius: 5px;
    object-fit: contain;
}

.favourite-film-card h3 {
    font-family: 'Shadows Into Light', cursive;
    padding: 10px;
    font-size: 28px;
}

.favourite-film-card p {
    padding: 10px;
}

.film-card small {
    font-weight: 700;
}

.favourite-film-card button {
    background: linear-gradient(0deg, rgba(0, 98, 255, 0.817), rgba(132, 183, 245, 0.671));
    border-radius: 8px;
    font-size: 15 px;
    color: white;
    border: none;
    margin: 10px 4px;
    padding: 10px 15px;
    cursor: pointer;
}

.favourite-film-card button:hover {
    background-color: blue;
}

@media screen and (max-width: 450px) {
    .favourite-film-card {
      width: 100%; /* Make the film card full width for smaller screens */
    }
  
    .favourite-film-card img {
      width: 80%; /* Make the image inside the film card full width for smaller screens */
      height: auto; /* Allow the image to scale proportionally */
    }
  
    .favourite-film-card h3 {
      font-size: 24px; /* Adjust font size for smaller screens */
    }
  
    .favourite-film-card p {
      padding: 8px; /* Adjust padding for smaller screens */
    }
  
    .favourite-film-card button {
      width: 100%; /* Make the button inside the film card full width for smaller screens */
    }
  }