
.quiz-wrapper {
    font-family: monospace;
    background-image: url(../Assets/ghibli-gif.gif);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 25px;
    height: 100vh;
}


.quiz-container {
    width: 700px;
    height: 550px;
    background-image: linear-gradient(to bottom, rgba(119, 83, 45, 0.77), rgba(150, 141, 135, 0.708));
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 30px 50px;
    position: relative;
}


.quiz-container h2 {
    font-size: 30px;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.active-question-num {
    font-size: 30px;
    font-weight: 600;
    color: rgb(2, 2, 133);
}


.total-question-num {
    font-size: 15px;
    font-weight: 500;
    color: rgb(162, 159, 159);
}

.quiz-container ul {
    margin-top: 20px;
    margin-left: -20px;
}

.quiz-container li {
    list-style: none;
    font-size: 18px;
    color: rgb(47, 46, 46);
    background: rgb(217, 228, 232);
    border: 1px solid lightgray;
    border-radius: 16px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
}


.quiz-container .selected-answer {
    background: rgb(218, 201, 157);
    border: 1px solid rgb(221, 222, 143);
    color: rgb(23, 85, 209);
    font-weight: bolder;
}



.quiz-container .button-wrapper {
    display: flex;
    justify-content: flex-end;

}

.button-wrapper button {
   width: 100px;
   height: 30px;
   background: linear-gradient(0deg, rgba(0, 0, 255, 0.74), rgba(255, 166, 0, 0.671) );  
   border-radius: 10px;
   font-size: 20px;
   color: white;
   border: none;
   margin-top: 20px;
   cursor: pointer;
}

.button-wrapper button:disabled {
    background: rgb(216, 213, 213);
    color: grey;
}


.quiz-wrapper .result {
    width: 700px;
    height: 550px;
    background: linear-gradient(0deg, rgba(116, 114, 111, 0.867), rgba(164, 111, 14, 0.736) ); 
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 30px 50px;
}


.result h3 {
    font-size: 45px;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
    color: white;
}

.result p {
    font-size: 22px;
    text-align: center;
    padding: 10px;
}

.result span {
    color:rgb(8, 8, 98);
    font-weight: bolder;
}

.result button {
    width: 130px;
    height: 30px;
    background: linear-gradient(0deg, rgba(0, 0, 255, 0.74), rgba(255, 166, 0, 0.671) ); 
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}