.question-timer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}

.question-timer-container .progress {
    height: 15px;
    transition-duration: 1s;
    width: 0%;
    transition-timing-function: linear;
    
}